Data Cleaning

In [ ]:
'''
This is the data you obtained from the site wuzzuf
'''
import pandas as pd
df=pd.read_csv("wuzzuf.csv")
df

,Unnamed: 0,JobName,CompanyName,LocationJob,JobType,Type_of_Experience,Years_of_Experience,Skills
0,0,GYM Supervisor- Damietta,Wadi Degla Clubs Company,"New Damietta, Damietta, Egypt",Full Time,Experienced,4 - 5 Yrs of Exp,"['Administration', 'Operations/Management', 'S..."
1,1,Public Relation Representative,Confidential,"Cairo, Egypt",Full Time,Entry Level,1 - 3 Yrs of Exp,"['Customer Service/Support', 'Communication sk..."
2,2,Corporate Account (Etisalat UAE-Fluent English...,Etisalat Egypt,"Cairo, Egypt",Full Time,Entry Level,0 - 1 Yrs of Exp,"['Customer Service/Support', 'English', 'Benef..."
3,3,Etisalat UAE is hiring Customer Service Adviso...,Etisalat Egypt,"Cairo, Egypt",Full Time,Entry Level,0 - 1 Yrs of Exp,"['Customer Service/Support', 'English', 'Benef..."
4,4,Non-Voice Account (Customer Service Agent-Engl...,Etisalat Egypt,"Cairo, Egypt",Full Time,Entry Level,0 - 1 Yrs of Exp,"['Customer Service/Support', 'English', 'Benef..."
...,...,...,...,...,...,...,...,...
12120,12120,Sales Specialist,Pan Egypt,"Cairo, Egypt",Full Time,Entry Level,2 - 4 Yrs of Exp,"['Sales/Retail', 'Sales', 'E-Commerce', 'Shipp..."
12121,12121,Network & Security Engineer,Kasrawy Group,"Abu Rawash, Giza, Egypt",Full Time,Experienced,5 - 8 Yrs of Exp,"['IT/Software Development', 'Computer Science'..."
12122,12122,C1 English Voice & Chatting Account â€“ serving ...,Majorel Egypt,"Cairo, Egypt",Full Time,Entry Level,1+ Yrs of Exp,"['Customer Service/Support', 'Customer Service..."
12123,12123,Personnel Specialist,oworkers,"Maadi, Cairo, Egypt",Full Time,Experienced,3 - 5 Yrs of Exp,"['males_preferred', 'Administration', 'Human R..."
12124,12124,Sales Executive - B2B,mobyserv,"Sheikh Zayed, Giza, Egypt",Full Time,Experienced,2 - 5 Yrs of Exp,"['Business Development', 'Customer Service/Sup..."

Delete any column that is not important

In [ ]:
'''
First, I will see if I have any null value or not, and I will try to modify the data so that there is no null value.
'''
df=df.drop(columns="Unnamed: 0")
df

,JobName,CompanyName,LocationJob,JobType,Type_of_Experience,Years_of_Experience,Skills
0,GYM Supervisor- Damietta,Wadi Degla Clubs Company,"New Damietta, Damietta, Egypt",Full Time,Experienced,4 - 5 Yrs of Exp,"['Administration', 'Operations/Management', 'S..."
1,Public Relation Representative,Confidential,"Cairo, Egypt",Full Time,Entry Level,1 - 3 Yrs of Exp,"['Customer Service/Support', 'Communication sk..."
2,Corporate Account (Etisalat UAE-Fluent English...,Etisalat Egypt,"Cairo, Egypt",Full Time,Entry Level,0 - 1 Yrs of Exp,"['Customer Service/Support', 'English', 'Benef..."
3,Etisalat UAE is hiring Customer Service Adviso...,Etisalat Egypt,"Cairo, Egypt",Full Time,Entry Level,0 - 1 Yrs of Exp,"['Customer Service/Support', 'English', 'Benef..."
4,Non-Voice Account (Customer Service Agent-Engl...,Etisalat Egypt,"Cairo, Egypt",Full Time,Entry Level,0 - 1 Yrs of Exp,"['Customer Service/Support', 'English', 'Benef..."
...,...,...,...,...,...,...,...
12120,Sales Specialist,Pan Egypt,"Cairo, Egypt",Full Time,Entry Level,2 - 4 Yrs of Exp,"['Sales/Retail', 'Sales', 'E-Commerce', 'Shipp..."
12121,Network & Security Engineer,Kasrawy Group,"Abu Rawash, Giza, Egypt",Full Time,Experienced,5 - 8 Yrs of Exp,"['IT/Software Development', 'Computer Science'..."
12122,C1 English Voice & Chatting Account â€“ serving ...,Majorel Egypt,"Cairo, Egypt",Full Time,Entry Level,1+ Yrs of Exp,"['Customer Service/Support', 'Customer Service..."
12123,Personnel Specialist,oworkers,"Maadi, Cairo, Egypt",Full Time,Experienced,3 - 5 Yrs of Exp,"['males_preferred', 'Administration', 'Human R..."
12124,Sales Executive - B2B,mobyserv,"Sheikh Zayed, Giza, Egypt",Full Time,Experienced,2 - 5 Yrs of Exp,"['Business Development', 'Customer Service/Sup..."

I look at the information to make sure there is a missing value

In [ ]:
'''
to know if exist null value i want see informatio
'''
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12125 entries, 0 to 12124
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   JobName              12125 non-null  object
 1   CompanyName          12125 non-null  object
 2   LocationJob          12125 non-null  object
 3   JobType              12125 non-null  object
 4   Type_of_Experience   12125 non-null  object
 5   Years_of_Experience  12125 non-null  object
 6   Skills               12125 non-null  object
dtypes: object(7)
memory usage: 663.2+ KB

I call funcation duplicated to make sure there is a duplicated value

In [ ]:
'''
Here I see if there is any repeated value or I get the sum of all the repeated values â€‹â€‹I have in the data
'''
df.duplicated().sum()

5

In [ ]:
df["JobName"]

0                                 GYM Supervisor- Damietta
1                           Public Relation Representative
2        Corporate Account (Etisalat UAE-Fluent English...
3        Etisalat UAE is hiring Customer Service Adviso...
4        Non-Voice Account (Customer Service Agent-Engl...
                               ...
12120                                     Sales Specialist
12121                          Network & Security Engineer
12122    C1 English Voice & Chatting Account â€“ serving ...
12123                                 Personnel Specialist
12124                                Sales Executive - B2B
Name: JobName, Length: 12125, dtype: object

In [ ]:
'''
All the steps I take to improve the appearance of all the data and it starts
 to be useful and I can get useful information from it
'''
df["JobName"].unique()[:80]

array(['GYM Supervisor- Damietta', 'Public Relation Representative',
       'Corporate Account (Etisalat UAE-Fluent English Speakers) -Maadi',
       'Etisalat UAE is hiring Customer Service Advisors (English Account- Inbound Calls)',
       'Non-Voice Account (Customer Service Agent-English Account) - Maadi',
       'Sales Executive',
       'Export Sales Executive (French , Spanish , English )',
       'Treasury Accountant',
       'Customer Service representative - call center agent (English Account) cairo',
       'customer service mail and chat - (non voice /English account) Cairo',
       'Electrical Maintenance Engineer', 'LC Officer',
       'Chief Accountant | Healthcare', 'Senior Marketing Executive',
       'Property Advisor',
       'English Customer Service Advisor. Alexandria residents',
       'Sales Account Executive (Giza)', 'Sales Account Executive',
       'Treasury Manager', 'Senior Financial Analyst', 'Office Manager',
       'Maintenance Manager', 'Projects Director',
       'Customer Service Vacancy (Bilingual Speakers: Spanish & English)',
       'General Accountant', 'QA/QC Engineer (Electrical Engineer)',
       'Textile Engineer', 'IT Specialist',
       'Receptionist / Front Office Admin',
       'Senior Digital Marketing Specialist (Real Estate)',
       'SAP Admin / IT Admin', 'Sales "Fertilizers"',
       'customer service representative',
       'Customer Support Representative',
       'Human Resource Administrative Assistant', 'Marketer',
       'Account Manager', 'Front-End Developer-Angular',
       'Photographer and videographer with video montage skills',
       'Customer Service Advisor',
       'Front Office Coordinator (Fluent English Speaker)',
       'Videographer and video editor', 'Technical Customer support',
       'Accountant', 'Technical Support Advisor (Call Center)',
       'Front End Developer', 'UI UX Designer', 'Finance Director',
       'Senior PHP laravel developer',
       'Customer service representative/Excellent English speakers (Etisalat UAE),Graduates',
       'German Speaking Customer Service Advisor - Relocate to Athens, Greece',
       'Guest Service Agent', 'Senior PHP Developer',
       'Financial Accountant', 'Customer Success Executive',
       'Technical Support Engineer Tier 1', 'Accountant English Fluent',
       'Sales Representative Real Estate', 'Junior HR Specialist',
       'HR Personnel Specialist', 'Call Center agent',
       'Senior Human Resources Specialist',
       'Non-voice customer service/English account (mail&chat)graduates',
       'HR & Operations Manager',
       'Script translation Arabic to English/Arabic',
       'Senior Mechanical Engineer', 'Technical Office Engineer',
       'CEO Executive Assistant', 'Chartered Accountant',
       'Native Classroom English Teacher for Nursery',
       'Robotics & STEAM Instructor (for Kids)',
       'Production Section Head for Low Voltage Panel Builder',
       'Building automation Sales engineer (KNX)',
       'Computer Science Instructor for Kids', 'UI/UX Web Designer',
       'Shariaa Controller', 'Account Executive , office manager',
       'Front End Developer - Vue.js (Remote Work)',
       'HR Administrative Assistants',
       'Electrical Technical office Engineer'], dtype=object)

In [ ]:
df["JobName"].value_counts()[:80]

Accountant                                101
Graphic Designer                           58
Sales Representative                       55
Sales Manager                              45
Sales Engineer                             44
                                         ...
Backend Developer                          11
Software Tester                            11
Architecture Technical Office Engineer     11
Senior Property Consultant                 11
CEO Personal Assistant                     10
Name: JobName, Length: 80, dtype: int64

In [ ]:
def clean_JobName(JobName):
  cleaned_JobName=JobName.split("-")[0].strip().split(",")[0].strip().split("/")[0].strip().split("(")[0].strip()
  return cleaned_JobName
df["JobName"]=df["JobName"].apply(clean_JobName)
df["JobName"]

0                                           GYM Supervisor
1                           Public Relation Representative
2                                        Corporate Account
3         Etisalat UAE is hiring Customer Service Advisors
4                                                      Non
                               ...
12120                                     Sales Specialist
12121                          Network & Security Engineer
12122    C1 English Voice & Chatting Account â€“ serving ...
12123                                 Personnel Specialist
12124                                      Sales Executive
Name: JobName, Length: 12125, dtype: object

In [ ]:
df["JobName"].unique()[:80]

array(['GYM Supervisor', 'Public Relation Representative',
       'Corporate Account',
       'Etisalat UAE is hiring Customer Service Advisors', 'Non',
       'Sales Executive', 'Export Sales Executive', 'Treasury Accountant',
       'Customer Service representative',
       'customer service mail and chat',
       'Electrical Maintenance Engineer', 'LC Officer',
       'Chief Accountant | Healthcare', 'Senior Marketing Executive',
       'Property Advisor',
       'English Customer Service Advisor. Alexandria residents',
       'Sales Account Executive', 'Treasury Manager',
       'Senior Financial Analyst', 'Office Manager',
       'Maintenance Manager', 'Projects Director',
       'Customer Service Vacancy', 'General Accountant', 'QA',
       'Textile Engineer', 'IT Specialist', 'Receptionist',
       'Senior Digital Marketing Specialist', 'SAP Admin',
       'Sales "Fertilizers"', 'customer service representative',
       'Customer Support Representative',
       'Human Resource Administrative Assistant', 'Marketer',
       'Account Manager', 'Front',
       'Photographer and videographer with video montage skills',
       'Customer Service Advisor', 'Front Office Coordinator',
       'Videographer and video editor', 'Technical Customer support',
       'Accountant', 'Technical Support Advisor', 'Front End Developer',
       'UI UX Designer', 'Finance Director',
       'Senior PHP laravel developer', 'Customer service representative',
       'German Speaking Customer Service Advisor', 'Guest Service Agent',
       'Senior PHP Developer', 'Financial Accountant',
       'Customer Success Executive', 'Technical Support Engineer Tier 1',
       'Accountant English Fluent', 'Sales Representative Real Estate',
       'Junior HR Specialist', 'HR Personnel Specialist',
       'Call Center agent', 'Senior Human Resources Specialist',
       'HR & Operations Manager', 'Script translation Arabic to English',
       'Senior Mechanical Engineer', 'Technical Office Engineer',
       'CEO Executive Assistant', 'Chartered Accountant',
       'Native Classroom English Teacher for Nursery',
       'Robotics & STEAM Instructor',
       'Production Section Head for Low Voltage Panel Builder',
       'Building automation Sales engineer',
       'Computer Science Instructor for Kids', 'UI', 'Shariaa Controller',
       'Account Executive', 'HR Administrative Assistants',
       'Electrical Technical office Engineer', 'Account Officer',
       'Sales Marketing Executive', 'Senior Document controller'],
      dtype=object)

In [ ]:
df["CompanyName"]

0        Wadi Degla Clubs Company
1                    Confidential
2                  Etisalat Egypt
3                  Etisalat Egypt
4                  Etisalat Egypt
                   ...
12120                   Pan Egypt
12121               Kasrawy Group
12122               Majorel Egypt
12123                    oworkers
12124                    mobyserv
Name: CompanyName, Length: 12125, dtype: object

In [ ]:
df["LocationJob"]

0        New Damietta, Damietta, Egypt
1                         Cairo, Egypt
2                         Cairo, Egypt
3                         Cairo, Egypt
4                         Cairo, Egypt
                      ...
12120                     Cairo, Egypt
12121          Abu Rawash, Giza, Egypt
12122                     Cairo, Egypt
12123              Maadi, Cairo, Egypt
12124        Sheikh Zayed, Giza, Egypt
Name: LocationJob, Length: 12125, dtype: object

In [ ]:
def clean_LocationJob(LocationJob):
  cleaned_LocationJob	=LocationJob.split(",")[0].strip()
  return cleaned_LocationJob
df["LocationJob"]=df["LocationJob"].apply(clean_LocationJob	)

In [ ]:
df['LocationJob']

0        New Damietta
1               Cairo
2               Cairo
3               Cairo
4               Cairo
             ...
12120           Cairo
12121      Abu Rawash
12122           Cairo
12123           Maadi
12124    Sheikh Zayed
Name: LocationJob, Length: 12125, dtype: object

In [ ]:
df["JobType"].unique()

array(['Full Time', 'Part Time', 'Shift Based', 'Freelance / Project',
       'Internship', 'Work From Home', 'Volunteering'], dtype=object)

In [ ]:
def Clean_JobType(JobType):
  cleaned_JobType=JobType.split(" / ")[0].strip()
  return cleaned_JobType
df["JobType"]=df["JobType"].apply(Clean_JobType)

In [ ]:
df["JobType"].unique()

array(['Full Time', 'Part Time', 'Shift Based', 'Freelance', 'Internship',
       'Work From Home', 'Volunteering'], dtype=object)

In [ ]:
df["Type_of_Experience"]

0        Experienced
1        Entry Level
2        Entry Level
3        Entry Level
4        Entry Level
            ...
12120    Entry Level
12121    Experienced
12122    Entry Level
12123    Experienced
12124    Experienced
Name: Type_of_Experience, Length: 12125, dtype: object

In [ ]:
df["Type_of_Experience"].unique()

array(['Experienced', 'Entry Level', 'Manager', 'Student',
       'Senior Management', 'Not specified'], dtype=object)

In [ ]:
df["Years_of_Experience"]

0        4 - 5 Yrs of Exp
1        1 - 3 Yrs of Exp
2        0 - 1 Yrs of Exp
3        0 - 1 Yrs of Exp
4        0 - 1 Yrs of Exp
               ...
12120    2 - 4 Yrs of Exp
12121    5 - 8 Yrs of Exp
12122       1+ Yrs of Exp
12123    3 - 5 Yrs of Exp
12124    2 - 5 Yrs of Exp
Name: Years_of_Experience, Length: 12125, dtype: object

In [ ]:
df["Years_of_Experience"].unique()[:1000]

array(['4 - 5 Yrs of Exp', '1 - 3 Yrs of Exp', '0 - 1 Yrs of Exp',
       '1+ Yrs of Exp', '1 - 2 Yrs of Exp', '1 - 5 Yrs of Exp',
       '0 - 10 Yrs of Exp', '0 - 13 Yrs of Exp', '3 - 10 Yrs of Exp',
       '7 - 10 Yrs of Exp', '10 - 15 Yrs of Exp', '2 - 3 Yrs of Exp',
       '15 - 20 Yrs of Exp', '3 - 6 Yrs of Exp', '3 - 5 Yrs of Exp',
       '15 - 15 Yrs of Exp', '20 - 20 Yrs of Exp', '0 - 20 Yrs of Exp',
       '4 - 7 Yrs of Exp', '5+ Yrs of Exp', '2 - 5 Yrs of Exp',
       '4+ Yrs of Exp', 'Customer Service/Support', '1 - 4 Yrs of Exp',
       '0 - 2 Yrs of Exp', '15+ Yrs of Exp', '4 - 6 Yrs of Exp',
       '4 - 8 Yrs of Exp', 'Banking', '0 - 3 Yrs of Exp', '2+ Yrs of Exp',
       '8 - 10 Yrs of Exp', '5 - 15 Yrs of Exp', '2 - 7 Yrs of Exp',
       '2 - 4 Yrs of Exp', '3 - 4 Yrs of Exp', '5 - 7 Yrs of Exp',
       '0 - 15 Yrs of Exp', '5 - 10 Yrs of Exp', '10 - 12 Yrs of Exp',
       '5 - 6 Yrs of Exp', '3 - 3 Yrs of Exp', '3 - 7 Yrs of Exp',
       '2 - 6 Yrs of Exp', '10 - 20 Yrs of Exp', '2 - 10 Yrs of Exp',
       '5 - 8 Yrs of Exp', '0 - 5 Yrs of Exp', '6+ Yrs of Exp',
       '10+ Yrs of Exp', '7 - 15 Yrs of Exp', '7+ Yrs of Exp',
       '5 - 9 Yrs of Exp', '8 - 12 Yrs of Exp', '17 - 20 Yrs of Exp',
       '9 - 13 Yrs of Exp', '7 - 8 Yrs of Exp', 'IT/Software Development',
       '2 - 2 Yrs of Exp', '0 - 4 Yrs of Exp', '5 - 12 Yrs of Exp',
       '3 - 8 Yrs of Exp', '3+ Yrs of Exp', '1 - 6 Yrs of Exp',
       '13 - 15 Yrs of Exp', 'Sales/Retail', '8 - 15 Yrs of Exp',
       '5 - 5 Yrs of Exp', '2 - 8 Yrs of Exp', '7 - 12 Yrs of Exp',
       '10 - 17 Yrs of Exp', '3 - 12 Yrs of Exp', '9 - 12 Yrs of Exp',
       '10 - 13 Yrs of Exp', '5 - 20 Yrs of Exp', 'Training/Instructor',
       '0 - 7 Yrs of Exp', '1 - 10 Yrs of Exp', 'Operations/Management',
       '7 - 9 Yrs of Exp', 'Medical/Healthcare', '1 - 1 Yrs of Exp',
       'Logistics/Supply Chain', '0 - 6 Yrs of Exp', '10 - 10 Yrs of Exp',
       'females_only', 'Accounting/Finance', 'Administration',
       'R&D/Science', 'Engineering - Construction/Civil/Architecture',
       'Marketing/PR/Advertising', 'Human Resources',
       'Business Development', 'Manufacturing/Production',
       'Creative/Design/Art', 'Installation/Maintenance/Repair',
       'Engineering - Other', 'Hospitality/Hotels/Food Services',
       'Writing/Editorial', '8+ Yrs of Exp', '6 - 10 Yrs of Exp',
       '6 - 7 Yrs of Exp', '12 - 15 Yrs of Exp', '11 - 15 Yrs of Exp',
       '1 - 7 Yrs of Exp', '6 - 8 Yrs of Exp', '4 - 10 Yrs of Exp',
       'Quality', 'C-Level Executive/GM/Director', '3 - 15 Yrs of Exp',
       '6 - 9 Yrs of Exp', 'Education/Teaching', '7 - 13 Yrs of Exp',
       '1 - 15 Yrs of Exp', '9+ Yrs of Exp', '1 - 20 Yrs of Exp',
       'Project/Program Management', 'Engineering - Telecom/Technology',
       'Engineering - Mechanical/Electrical', '2 - 20 Yrs of Exp',
       'Media/Journalism/Publishing', '9 - 15 Yrs of Exp',
       '6 - 12 Yrs of Exp', '14 - 16 Yrs of Exp',
       'Engineering - Oil & Gas/Energy', '3 - 11 Yrs of Exp',
       '8 - 8 Yrs of Exp', '5 - 13 Yrs of Exp', 'Analyst/Research',
       '18 - 20 Yrs of Exp', '13 - 16 Yrs of Exp', '7 - 11 Yrs of Exp',
       'Other', '9 - 11 Yrs of Exp', '8 - 20 Yrs of Exp',
       '10 - 11 Yrs of Exp', '15 - 17 Yrs of Exp', '3 - 13 Yrs of Exp',
       '6 - 16 Yrs of Exp', '7 - 20 Yrs of Exp', '6 - 20 Yrs of Exp',
       '3 - 20 Yrs of Exp', '1 - 8 Yrs of Exp', '1 - 11 Yrs of Exp',
       '11 - 12 Yrs of Exp', 'males_only', '6 - 15 Yrs of Exp',
       '10 - 14 Yrs of Exp', '12 - 20 Yrs of Exp', '8 - 11 Yrs of Exp',
       '12+ Yrs of Exp', '4 - 9 Yrs of Exp', '14+ Yrs of Exp',
       '12 - 14 Yrs of Exp', '20+ Yrs of Exp', 'Tourism/Travel',
       '12 - 16 Yrs of Exp', '15 - 18 Yrs of Exp',
       'Purchasing/Procurement', '8 - 13 Yrs of Exp', '6 - 11 Yrs of Exp',
       '0 - 8 Yrs of Exp', '4 - 4 Yrs of Exp', '4 - 20 Yrs of Exp',
       '3 - 9 Yrs of Exp', '2 - 15 Yrs of Exp', '10 - 16 Yrs of Exp',
       '10 - 18 Yrs of Exp', '0 - 18 Yrs of Exp', '8 - 14 Yrs of Exp',
       '7 - 14 Yrs of Exp', 'females_preferred', '5 - 14 Yrs of Exp',
       '0 - 11 Yrs of Exp', '9 - 14 Yrs of Exp', '6 - 13 Yrs of Exp',
       '1 - 19 Yrs of Exp', '1 - 14 Yrs of Exp', '4 - 14 Yrs of Exp',
       '13 - 20 Yrs of Exp', '8 - 17 Yrs of Exp', '5 - 11 Yrs of Exp',
       '1 - 12 Yrs of Exp', '1 - 13 Yrs of Exp', '3 - 17 Yrs of Exp',
       '11+ Yrs of Exp', '4 - 15 Yrs of Exp'], dtype=object)

In [ ]:
def check_year(exp):
  if "Yrs of Exp"  in exp:
    return exp
  else:
    return -1

In [ ]:
df["Years_of_Experience"]=df["Years_of_Experience"].apply(check_year)

In [ ]:
df["Years_of_Experience"].unique()[:1000]

array(['4 - 5 Yrs of Exp', '1 - 3 Yrs of Exp', '0 - 1 Yrs of Exp',
       '1+ Yrs of Exp', '1 - 2 Yrs of Exp', '1 - 5 Yrs of Exp',
       '0 - 10 Yrs of Exp', '0 - 13 Yrs of Exp', '3 - 10 Yrs of Exp',
       '7 - 10 Yrs of Exp', '10 - 15 Yrs of Exp', '2 - 3 Yrs of Exp',
       '15 - 20 Yrs of Exp', '3 - 6 Yrs of Exp', '3 - 5 Yrs of Exp',
       '15 - 15 Yrs of Exp', '20 - 20 Yrs of Exp', '0 - 20 Yrs of Exp',
       '4 - 7 Yrs of Exp', '5+ Yrs of Exp', '2 - 5 Yrs of Exp',
       '4+ Yrs of Exp', -1, '1 - 4 Yrs of Exp', '0 - 2 Yrs of Exp',
       '15+ Yrs of Exp', '4 - 6 Yrs of Exp', '4 - 8 Yrs of Exp',
       '0 - 3 Yrs of Exp', '2+ Yrs of Exp', '8 - 10 Yrs of Exp',
       '5 - 15 Yrs of Exp', '2 - 7 Yrs of Exp', '2 - 4 Yrs of Exp',
       '3 - 4 Yrs of Exp', '5 - 7 Yrs of Exp', '0 - 15 Yrs of Exp',
       '5 - 10 Yrs of Exp', '10 - 12 Yrs of Exp', '5 - 6 Yrs of Exp',
       '3 - 3 Yrs of Exp', '3 - 7 Yrs of Exp', '2 - 6 Yrs of Exp',
       '10 - 20 Yrs of Exp', '2 - 10 Yrs of Exp', '5 - 8 Yrs of Exp',
       '0 - 5 Yrs of Exp', '6+ Yrs of Exp', '10+ Yrs of Exp',
       '7 - 15 Yrs of Exp', '7+ Yrs of Exp', '5 - 9 Yrs of Exp',
       '8 - 12 Yrs of Exp', '17 - 20 Yrs of Exp', '9 - 13 Yrs of Exp',
       '7 - 8 Yrs of Exp', '2 - 2 Yrs of Exp', '0 - 4 Yrs of Exp',
       '5 - 12 Yrs of Exp', '3 - 8 Yrs of Exp', '3+ Yrs of Exp',
       '1 - 6 Yrs of Exp', '13 - 15 Yrs of Exp', '8 - 15 Yrs of Exp',
       '5 - 5 Yrs of Exp', '2 - 8 Yrs of Exp', '7 - 12 Yrs of Exp',
       '10 - 17 Yrs of Exp', '3 - 12 Yrs of Exp', '9 - 12 Yrs of Exp',
       '10 - 13 Yrs of Exp', '5 - 20 Yrs of Exp', '0 - 7 Yrs of Exp',
       '1 - 10 Yrs of Exp', '7 - 9 Yrs of Exp', '1 - 1 Yrs of Exp',
       '0 - 6 Yrs of Exp', '10 - 10 Yrs of Exp', '8+ Yrs of Exp',
       '6 - 10 Yrs of Exp', '6 - 7 Yrs of Exp', '12 - 15 Yrs of Exp',
       '11 - 15 Yrs of Exp', '1 - 7 Yrs of Exp', '6 - 8 Yrs of Exp',
       '4 - 10 Yrs of Exp', '3 - 15 Yrs of Exp', '6 - 9 Yrs of Exp',
       '7 - 13 Yrs of Exp', '1 - 15 Yrs of Exp', '9+ Yrs of Exp',
       '1 - 20 Yrs of Exp', '2 - 20 Yrs of Exp', '9 - 15 Yrs of Exp',
       '6 - 12 Yrs of Exp', '14 - 16 Yrs of Exp', '3 - 11 Yrs of Exp',
       '8 - 8 Yrs of Exp', '5 - 13 Yrs of Exp', '18 - 20 Yrs of Exp',
       '13 - 16 Yrs of Exp', '7 - 11 Yrs of Exp', '9 - 11 Yrs of Exp',
       '8 - 20 Yrs of Exp', '10 - 11 Yrs of Exp', '15 - 17 Yrs of Exp',
       '3 - 13 Yrs of Exp', '6 - 16 Yrs of Exp', '7 - 20 Yrs of Exp',
       '6 - 20 Yrs of Exp', '3 - 20 Yrs of Exp', '1 - 8 Yrs of Exp',
       '1 - 11 Yrs of Exp', '11 - 12 Yrs of Exp', '6 - 15 Yrs of Exp',
       '10 - 14 Yrs of Exp', '12 - 20 Yrs of Exp', '8 - 11 Yrs of Exp',
       '12+ Yrs of Exp', '4 - 9 Yrs of Exp', '14+ Yrs of Exp',
       '12 - 14 Yrs of Exp', '20+ Yrs of Exp', '12 - 16 Yrs of Exp',
       '15 - 18 Yrs of Exp', '8 - 13 Yrs of Exp', '6 - 11 Yrs of Exp',
       '0 - 8 Yrs of Exp', '4 - 4 Yrs of Exp', '4 - 20 Yrs of Exp',
       '3 - 9 Yrs of Exp', '2 - 15 Yrs of Exp', '10 - 16 Yrs of Exp',
       '10 - 18 Yrs of Exp', '0 - 18 Yrs of Exp', '8 - 14 Yrs of Exp',
       '7 - 14 Yrs of Exp', '5 - 14 Yrs of Exp', '0 - 11 Yrs of Exp',
       '9 - 14 Yrs of Exp', '6 - 13 Yrs of Exp', '1 - 19 Yrs of Exp',
       '1 - 14 Yrs of Exp', '4 - 14 Yrs of Exp', '13 - 20 Yrs of Exp',
       '8 - 17 Yrs of Exp', '5 - 11 Yrs of Exp', '1 - 12 Yrs of Exp',
       '1 - 13 Yrs of Exp', '3 - 17 Yrs of Exp', '11+ Yrs of Exp',
       '4 - 15 Yrs of Exp'], dtype=object)

In [ ]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12125 entries, 0 to 12124
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   JobName              12125 non-null  object
 1   CompanyName          12125 non-null  object
 2   LocationJob          12125 non-null  object
 3   JobType              12125 non-null  object
 4   Type_of_Experience   12125 non-null  object
 5   Years_of_Experience  12125 non-null  object
 6   Skills               12125 non-null  object
dtypes: object(7)
memory usage: 663.2+ KB

In [ ]:
df["Years_of_Experience"].unique()

array(['4 - 5 Yrs of Exp', '1 - 3 Yrs of Exp', '0 - 1 Yrs of Exp',
       '1+ Yrs of Exp', '1 - 2 Yrs of Exp', '1 - 5 Yrs of Exp',
       '0 - 10 Yrs of Exp', '0 - 13 Yrs of Exp', '3 - 10 Yrs of Exp',
       '7 - 10 Yrs of Exp', '10 - 15 Yrs of Exp', '2 - 3 Yrs of Exp',
       '15 - 20 Yrs of Exp', '3 - 6 Yrs of Exp', '3 - 5 Yrs of Exp',
       '15 - 15 Yrs of Exp', '20 - 20 Yrs of Exp', '0 - 20 Yrs of Exp',
       '4 - 7 Yrs of Exp', '5+ Yrs of Exp', '2 - 5 Yrs of Exp',
       '4+ Yrs of Exp', -1, '1 - 4 Yrs of Exp', '0 - 2 Yrs of Exp',
       '15+ Yrs of Exp', '4 - 6 Yrs of Exp', '4 - 8 Yrs of Exp',
       '0 - 3 Yrs of Exp', '2+ Yrs of Exp', '8 - 10 Yrs of Exp',
       '5 - 15 Yrs of Exp', '2 - 7 Yrs of Exp', '2 - 4 Yrs of Exp',
       '3 - 4 Yrs of Exp', '5 - 7 Yrs of Exp', '0 - 15 Yrs of Exp',
       '5 - 10 Yrs of Exp', '10 - 12 Yrs of Exp', '5 - 6 Yrs of Exp',
       '3 - 3 Yrs of Exp', '3 - 7 Yrs of Exp', '2 - 6 Yrs of Exp',
       '10 - 20 Yrs of Exp', '2 - 10 Yrs of Exp', '5 - 8 Yrs of Exp',
       '0 - 5 Yrs of Exp', '6+ Yrs of Exp', '10+ Yrs of Exp',
       '7 - 15 Yrs of Exp', '7+ Yrs of Exp', '5 - 9 Yrs of Exp',
       '8 - 12 Yrs of Exp', '17 - 20 Yrs of Exp', '9 - 13 Yrs of Exp',
       '7 - 8 Yrs of Exp', '2 - 2 Yrs of Exp', '0 - 4 Yrs of Exp',
       '5 - 12 Yrs of Exp', '3 - 8 Yrs of Exp', '3+ Yrs of Exp',
       '1 - 6 Yrs of Exp', '13 - 15 Yrs of Exp', '8 - 15 Yrs of Exp',
       '5 - 5 Yrs of Exp', '2 - 8 Yrs of Exp', '7 - 12 Yrs of Exp',
       '10 - 17 Yrs of Exp', '3 - 12 Yrs of Exp', '9 - 12 Yrs of Exp',
       '10 - 13 Yrs of Exp', '5 - 20 Yrs of Exp', '0 - 7 Yrs of Exp',
       '1 - 10 Yrs of Exp', '7 - 9 Yrs of Exp', '1 - 1 Yrs of Exp',
       '0 - 6 Yrs of Exp', '10 - 10 Yrs of Exp', '8+ Yrs of Exp',
       '6 - 10 Yrs of Exp', '6 - 7 Yrs of Exp', '12 - 15 Yrs of Exp',
       '11 - 15 Yrs of Exp', '1 - 7 Yrs of Exp', '6 - 8 Yrs of Exp',
       '4 - 10 Yrs of Exp', '3 - 15 Yrs of Exp', '6 - 9 Yrs of Exp',
       '7 - 13 Yrs of Exp', '1 - 15 Yrs of Exp', '9+ Yrs of Exp',
       '1 - 20 Yrs of Exp', '2 - 20 Yrs of Exp', '9 - 15 Yrs of Exp',
       '6 - 12 Yrs of Exp', '14 - 16 Yrs of Exp', '3 - 11 Yrs of Exp',
       '8 - 8 Yrs of Exp', '5 - 13 Yrs of Exp', '18 - 20 Yrs of Exp',
       '13 - 16 Yrs of Exp', '7 - 11 Yrs of Exp', '9 - 11 Yrs of Exp',
       '8 - 20 Yrs of Exp', '10 - 11 Yrs of Exp', '15 - 17 Yrs of Exp',
       '3 - 13 Yrs of Exp', '6 - 16 Yrs of Exp', '7 - 20 Yrs of Exp',
       '6 - 20 Yrs of Exp', '3 - 20 Yrs of Exp', '1 - 8 Yrs of Exp',
       '1 - 11 Yrs of Exp', '11 - 12 Yrs of Exp', '6 - 15 Yrs of Exp',
       '10 - 14 Yrs of Exp', '12 - 20 Yrs of Exp', '8 - 11 Yrs of Exp',
       '12+ Yrs of Exp', '4 - 9 Yrs of Exp', '14+ Yrs of Exp',
       '12 - 14 Yrs of Exp', '20+ Yrs of Exp', '12 - 16 Yrs of Exp',
       '15 - 18 Yrs of Exp', '8 - 13 Yrs of Exp', '6 - 11 Yrs of Exp',
       '0 - 8 Yrs of Exp', '4 - 4 Yrs of Exp', '4 - 20 Yrs of Exp',
       '3 - 9 Yrs of Exp', '2 - 15 Yrs of Exp', '10 - 16 Yrs of Exp',
       '10 - 18 Yrs of Exp', '0 - 18 Yrs of Exp', '8 - 14 Yrs of Exp',
       '7 - 14 Yrs of Exp', '5 - 14 Yrs of Exp', '0 - 11 Yrs of Exp',
       '9 - 14 Yrs of Exp', '6 - 13 Yrs of Exp', '1 - 19 Yrs of Exp',
       '1 - 14 Yrs of Exp', '4 - 14 Yrs of Exp', '13 - 20 Yrs of Exp',
       '8 - 17 Yrs of Exp', '5 - 11 Yrs of Exp', '1 - 12 Yrs of Exp',
       '1 - 13 Yrs of Exp', '3 - 17 Yrs of Exp', '11+ Yrs of Exp',
       '4 - 15 Yrs of Exp'], dtype=object)

In [ ]:
df["Skills"]

0        ['Administration', 'Operations/Management', 'S...
1        ['Customer Service/Support', 'Communication sk...
2        ['Customer Service/Support', 'English', 'Benef...
3        ['Customer Service/Support', 'English', 'Benef...
4        ['Customer Service/Support', 'English', 'Benef...
                               ...
12120    ['Sales/Retail', 'Sales', 'E-Commerce', 'Shipp...
12121    ['IT/Software Development', 'Computer Science'...
12122    ['Customer Service/Support', 'Customer Service...
12123    ['males_preferred', 'Administration', 'Human R...
12124    ['Business Development', 'Customer Service/Sup...
Name: Skills, Length: 12125, dtype: object

In [ ]:
df["Skills"].unique()

array(["['Administration', 'Operations/Management', 'Sports and Leisure', 'Administration', 'Operations Management', 'Sports', 'GYM']",
       "['Customer Service/Support', 'Communication skills', 'English', 'Marketing', 'Microsoft Office', 'Public Relations (PR)', 'Social Media', 'Communication', 'Editing', 'Skills']",
       "['Customer Service/Support', 'English', 'Benefits', 'excel', 'Excellent english', 'Excellent', 'is', 'Insurance', 'Microsoft Excel', 'Medical']",
       ...,
       "['IT/Software Development', 'Computer Science', 'Network Security', 'VoIP', 'network', 'Information Technology (IT)', 'CCNP', 'Cisco', 'firewalls', 'Networking']",
       "['males_preferred', 'Administration', 'Human Resources', 'Human Resources (HR)', 'Personnel', 'Labor Law', 'Administration', 'Social Insurance Law', 'HR']",
       "['Business Development', 'Customer Service/Support', 'Sales/Retail', 'B2B', 'business', 'SaaS', 'Sales', 'Sales Executive', 'sales skills', 'Sales Target']"],
      dtype=object)

In [ ]:
def Clean_Skills(Skills):
  Cleaned_Skills=Skills.split('/')[0].strip().split("(")[0].strip()
  return Cleaned_Skills

df["Skills"]=df["Skills"].apply(Clean_Skills)

In [ ]:
df["Skills"].unique()[:50]

array(["['Administration', 'Operations", "['Customer Service", "['Sales",
       "['Manufacturing", "['Accounting", "['Installation", "['Marketing",
       "['Business Development', 'Customer Service",
       "['females_only', 'Accounting",
       "['males_only', 'Engineering - Mechanical",
       "['Engineering - Construction",
       "['males_only', 'Quality', 'Engineering - Mechanical",
       "['Engineering - Other', 'Textile Engineering', 'Communication skills', 'Textile', 'Production', 'Manufacturing', 'Engineering']",
       "['Administration', 'Customer Service",
       "['males_preferred', 'Sales", "['males_only', 'Customer Service",
       "['Human Resources', 'Legal', 'Human Resources", "['Education",
       "['males_only', 'Accounting", "['IT", "['Creative",
       "['Customer Support', 'Customer Service', 'Technical Support']",
       "['females_only', 'Administration', 'Customer Service",
       "['Customer Care', 'Customer Support', 'Customer Service', 'technical customer support']",
       "['Customer Support', 'Customer Service', 'Technical Support', 'Call Center', 'Customer Care']",
       "['Customer', 'Customer Care', 'Customer Service', 'Customer Support', 'Call Center', 'Customer Relations', 'Customer Satisfaction', 'Customer Retention', 'Customer Service Management']",
       "['Communication', 'Customer Service', 'Customer Support', 'Inbound', 'Emails', 'Customer Care', 'Call Center', 'Inbound Calls', 'Support']",
       "['Human Resources', 'excel', 'English', 'Human Resources",
       "['Human Resources', 'Human Resources",
       "['males_only', 'Human Resources', 'HR Diploma', 'HR', 'Human Resources",
       "['Writing", "['Engineering - Mechanical",
       "['Administration', 'assistant', 'Executive', 'business', 'Office management', 'Secretary', 'Administration', 'Arabic', 'English', 'Microsoft Office']",
       "['Project",
       "['Administration', 'Human Resources', 'administrative assistant', 'Administration', 'HR', 'Human Resources', 'Management', 'Microsoft Office', 'MS Office', 'office']",
       "['Administration', 'Admin', 'Administration', 'Document', 'controller', 'document controller', 'Microsoft Office', 'Typing', 'Document Control']",
       "['Administration', 'English', 'excel', 'Microsoft Office', 'office', 'Office management', 'powerpoint', 'Secretary', 'word', 'Writing']",
       "['Business Development', 'IT",
       "['Human Resources', 'Communication skills', 'Human Resources",
       "['Administration', 'Administration', 'business', 'Business Administration', 'Secretary', 'personal assistant']",
       "['males_only', 'IT",
       "['Customer Service', 'Customer Support', 'Customer Care', 'Customer Relations', 'Communication', 'Typing', 'German', 'Deutsch', 'Kundendienst']",
       "['females_preferred', 'Customer Service", "['Medical",
       "['Engineering - Other', 'Automation', 'BMS', 'Communication', 'Communication skills', 'Engineering', 'Industrial', 'KNX', 'Microsoft Office', 'CBS']",
       "['males_only', 'Administration', 'Administration', 'Communication skills', 'Public Relations",
       "['Human Resources', 'Business Administration', 'Compensation and Benefits', 'Compensation', 'Management', 'Human Resources",
       "['Operations", "['R&D",
       "['Administration', 'Document Control', 'Admin', 'Administration', 'Commerce', 'Microsoft Office']"],
      dtype=object)

In [ ]:
df

,JobName,CompanyName,LocationJob,JobType,Type_of_Experience,Years_of_Experience,Skills
0,GYM Supervisor,Wadi Degla Clubs Company,New Damietta,Full Time,Experienced,4 - 5 Yrs of Exp,"['Administration', 'Operations"
1,Public Relation Representative,Confidential,Cairo,Full Time,Entry Level,1 - 3 Yrs of Exp,['Customer Service
2,Corporate Account,Etisalat Egypt,Cairo,Full Time,Entry Level,0 - 1 Yrs of Exp,['Customer Service
3,Etisalat UAE is hiring Customer Service Advisors,Etisalat Egypt,Cairo,Full Time,Entry Level,0 - 1 Yrs of Exp,['Customer Service
4,Non,Etisalat Egypt,Cairo,Full Time,Entry Level,0 - 1 Yrs of Exp,['Customer Service
...,...,...,...,...,...,...,...
12120,Sales Specialist,Pan Egypt,Cairo,Full Time,Entry Level,2 - 4 Yrs of Exp,['Sales
12121,Network & Security Engineer,Kasrawy Group,Abu Rawash,Full Time,Experienced,5 - 8 Yrs of Exp,['IT
12122,C1 English Voice & Chatting Account â€“ serving ...,Majorel Egypt,Cairo,Full Time,Entry Level,1+ Yrs of Exp,['Customer Service
12123,Personnel Specialist,oworkers,Maadi,Full Time,Experienced,3 - 5 Yrs of Exp,"['males_preferred', 'Administration', 'Human R..."
12124,Sales Executive,mobyserv,Sheikh Zayed,Full Time,Experienced,2 - 5 Yrs of Exp,"['Business Development', 'Customer Service"

In [ ]:
df.to_csv("WuzzufDataCleanning.csv")