In [1]:
import pandas as pd
df=pd.read_csv("survey_results_public.csv")
df

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12922,12923,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Bootstrapping a business,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,180000.0
12923,12924,I agree,I am a developer by profession,45-54 years old,"Employed, full-time;Independent contractor, fr...",In-person,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Other online ...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
12924,12925,I agree,I am a developer by profession,35-44 years old,"Employed, full-time",In-person,Hobby,"Associate degree (A.A., A.S., etc.)",Books / Physical media;Friend or family member...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
12925,12926,I agree,I am a developer by profession,25-34 years old,"Not employed, but looking for work",NaN,NaN,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",Colleague;Online Courses or Certification;On t...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
12926,12927,I agree,I am a developer by profession,45-54 years old,"Independent contractor, freelancer, or self-em...",Remote,Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Online Course...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.shape

(12927, 84)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12927 entries, 0 to 12926
Data columns (total 84 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ResponseId                           12927 non-null  int64
 1   Q120                                 12927 non-null  object
 2   MainBranch                           12927 non-null  object
 3   Age                                  12927 non-null  object
 4   Employment                           12779 non-null  object
 5   RemoteWork                           10789 non-null  object
 6   CodingActivities                     10781 non-null  object
 7   EdLevel                              12790 non-null  object
 8   LearnCode                            12744 non-null  object
 9   LearnCodeOnline                      10202 non-null  object
 10  LearnCodeCoursesCert                 5142 non-null   object
 11  YearsCode                            12715 non-null  object
 12  YearsCodePro                         9605 non-null   object
 13  DevType                              11260 non-null  object
 14  OrgSize                              9494 non-null   object
 15  PurchaseInfluence                    9471 non-null   object
 16  TechList                             8708 non-null   object
 17  BuyNewTool                           12042 non-null  object
 18  Country                              12789 non-null  object
 19  Currency                             9526 non-null   object
 20  CompTotal                            6980 non-null   float64
 21  LanguageHaveWorkedWith               12669 non-null  object
 22  LanguageWantToWorkWith               11804 non-null  object
 23  DatabaseHaveWorkedWith               10687 non-null  object
 24  DatabaseWantToWorkWith               8898 non-null   object
 25  PlatformHaveWorkedWith               9235 non-null   object
 26  PlatformWantToWorkWith               7444 non-null   object
 27  WebframeHaveWorkedWith               9660 non-null   object
 28  WebframeWantToWorkWith               8147 non-null   object
 29  MiscTechHaveWorkedWith               8599 non-null   object
 30  MiscTechWantToWorkWith               7071 non-null   object
 31  ToolsTechHaveWorkedWith              11485 non-null  object
 32  ToolsTechWantToWorkWith              10144 non-null  object
 33  NEWCollabToolsHaveWorkedWith         12466 non-null  object
 34  NEWCollabToolsWantToWorkWith         11180 non-null  object
 35  OpSysPersonal use                    12573 non-null  object
 36  OpSysProfessional use                11465 non-null  object
 37  OfficeStackAsyncHaveWorkedWith       10059 non-null  object
 38  OfficeStackAsyncWantToWorkWith       7787 non-null   object
 39  OfficeStackSyncHaveWorkedWith        12120 non-null  object
 40  OfficeStackSyncWantToWorkWith        10107 non-null  object
 41  AISearchHaveWorkedWith               8012 non-null   object
 42  AISearchWantToWorkWith               6410 non-null   object
 43  AIDevHaveWorkedWith                  3631 non-null   object
 44  AIDevWantToWorkWith                  2705 non-null   object
 45  NEWSOSites                           12789 non-null  object
 46  SOVisitFreq                          12709 non-null  object
 47  SOAccount                            12783 non-null  object
 48  SOPartFreq                           10315 non-null  object
 49  SOComm                               12756 non-null  object
 50  SOAI                                 7035 non-null   object
 51  AISelect                             12789 non-null  object
 52  AISent                               8539 non-null   object
 53  AIAcc                                5279 non-null   object
 54  AIBen                                8521 non-null   object
 55  AIToolInterested in Using            4450 non-null   object
 56  AIToolCurrently Using                4908 non-null   object
 57  AIToolNot interested in Using        2905 non-null   object
 58  AINextVery different                 1592 non-null   object
 59  AINextNeither different nor similar  953 non-null    object
 60  AINextSomewhat similar               894 non-null    object
 61  AINextVery similar                   374 non-null    object
 62  AINextSomewhat different             3051 non-null   object
 63  TBranch                              9609 non-null   object
 64  ICorPM                               6772 non-null   object
 65  WorkExp                              6753 non-null   float64
 66  Knowledge_1                          6591 non-null   object
 67  Knowledge_2                          6435 non-null   object
 68  Knowledge_3                          6456 non-null   object
 69  Knowledge_4                          6436 non-null   object
 70  Knowledge_5                          6408 non-null   object
 71  Knowledge_6                          6425 non-null   object
 72  Knowledge_7                          6422 non-null   object
 73  Knowledge_8                          6394 non-null   object
 74  Frequency_1                          6500 non-null   object
 75  Frequency_2                          6497 non-null   object
 76  Frequency_3                          6341 non-null   object
 77  TimeSearching                        6640 non-null   object
 78  TimeAnswering                        6614 non-null   object
 79  ProfessionalTech                     6475 non-null   object
 80  Industry                             5737 non-null   object
 81  SurveyLength                         12587 non-null  object
 82  SurveyEase                           12592 non-null  object
 83  ConvertedCompYearly                  6947 non-null   float64
dtypes: float64(3), int64(1), object(80)
memory usage: 8.3+ MB

In [4]:
df.head(4)

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0

In [5]:
df.tail(5)

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
12922,12923,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Bootstrapping a business,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,180000.0
12923,12924,I agree,I am a developer by profession,45-54 years old,"Employed, full-time;Independent contractor, fr...",In-person,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Other online ...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
12924,12925,I agree,I am a developer by profession,35-44 years old,"Employed, full-time",In-person,Hobby,"Associate degree (A.A., A.S., etc.)",Books / Physical media;Friend or family member...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
12925,12926,I agree,I am a developer by profession,25-34 years old,"Not employed, but looking for work",NaN,NaN,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",Colleague;Online Courses or Certification;On t...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
12926,12927,I agree,I am a developer by profession,45-54 years old,"Independent contractor, freelancer, or self-em...",Remote,Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Online Course...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
import pandas as pd
people={
    "first":['hoda','alyaa','manar'],
    "last":['mawood','ezz','hamada'],
    "email":['hodamawood@gmail.com','alyaaezz@gmail.com','manarhamada@gmail.com']
}

In [9]:
df=pd.DataFrame(people)
df

   first    last                  email
0   hoda  mawood   hodamawood@gmail.com
1  alyaa     ezz     alyaaezz@gmail.com
2  manar  hamada  manarhamada@gmail.com

In [17]:
df.email

0     hodamawood@gmail.com
1       alyaaezz@gmail.com
2    manarhamada@gmail.com
Name: email, dtype: object

In [18]:
df['email']

0     hodamawood@gmail.com
1       alyaaezz@gmail.com
2    manarhamada@gmail.com
Name: email, dtype: object

In [19]:
type(df['email'])

pandas.core.series.Series

In [20]:
df[['last','email']]

     last                  email
0  mawood   hodamawood@gmail.com
1     ezz     alyaaezz@gmail.com
2  hamada  manarhamada@gmail.com

In [21]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [22]:
df.iloc[0]

first                    hoda
last                   mawood
email    hodamawood@gmail.com
Name: 0, dtype: object

In [23]:
df.iloc[[0,1]]

   first    last                 email
0   hoda  mawood  hodamawood@gmail.com
1  alyaa     ezz    alyaaezz@gmail.com

In [24]:
df.iloc[[0,2],2]

0     hodamawood@gmail.com
2    manarhamada@gmail.com
Name: email, dtype: object

In [25]:
df.loc[1]

first                 alyaa
last                    ezz
email    alyaaezz@gmail.com
Name: 1, dtype: object

In [27]:
df.loc[[1,2]]

   first    last                  email
1  alyaa     ezz     alyaaezz@gmail.com
2  manar  hamada  manarhamada@gmail.com

In [28]:
df.loc[[0,1],'first']

0     hoda
1    alyaa
Name: first, dtype: object

In [29]:
df.loc[[0,1],['first','last']]

   first    last
0   hoda  mawood
1  alyaa     ezz

In [33]:
df=pd.read_csv('survey_results_public.csv')

In [34]:
df

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89179,89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89180,89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89181,89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89182,89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89183,89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [35]:
df.columns

Index(['ResponseId', 'Q120', 'MainBranch', 'Age', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'TechList', 'BuyNewTool', 'Country',
       'Currency', 'CompTotal', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysPersonal use',
       'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith',
       'OfficeStackAsyncWantToWorkWith', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'AISearchHaveWorkedWith',
       'AISearchWantToWorkWith', 'AIDevHaveWorkedWith', 'AIDevWantToWorkWith',
       'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm',
       'SOAI', 'AISelect', 'AISent', 'AIAcc', 'AIBen',
       'AIToolInterested in Using', 'AIToolCurrently Using',
       'AIToolNot interested in Using', 'AINextVery different',
       'AINextNeither different nor similar', 'AINextSomewhat similar',
       'AINextVery similar', 'AINextSomewhat different', 'TBranch', 'ICorPM',
       'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8',
       'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching',
       'TimeAnswering', 'ProfessionalTech', 'Industry', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [36]:
df['MainBranch']

0                         None of these
1        I am a developer by profession
2        I am a developer by profession
3        I am a developer by profession
4        I am a developer by profession
                      ...
89179    I am a developer by profession
89180    I am a developer by profession
89181       I code primarily as a hobby
89182    I am a developer by profession
89183    I am a developer by profession
Name: MainBranch, Length: 89184, dtype: object

In [44]:
df.loc[1]

Q120                           I agree
MainBranch               None of these
Age                    18-24 years old
Employment                         NaN
RemoteWork                         NaN
                            ...
ProfessionalTech                   NaN
Industry                           NaN
SurveyLength                       NaN
SurveyEase                         NaN
ConvertedCompYearly                NaN
Name: 1, Length: 83, dtype: object

In [38]:
df.loc[[0,1,2],['MainBranch','RemoteWork']]

                       MainBranch                            RemoteWork
0                   None of these                                   NaN
1  I am a developer by profession                                Remote
2  I am a developer by profession  Hybrid (some remote, some in-person)

In [39]:
df.loc[0,'RemoteWork']

nan

In [40]:
df.loc[0:4,'MainBranch':'RemoteWork']

,MainBranch,Age,Employment,RemoteWork
0,None of these,18-24 years old,NaN,NaN
1,I am a developer by profession,25-34 years old,"Employed, full-time",Remote
2,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)"
3,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)"
4,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote

In [3]:
#indexes
import pandas as pd
people={
    "first":['hoda','alyaa','manar'],
    "last":['mawood','ezz','hamada'],
    "email":['hodamawood@gmail.com','alyaaezz@gmail.com','manarhamada@gmail.com']
}
df=pd.DataFrame(people)
df

   first    last                  email
0   hoda  mawood   hodamawood@gmail.com
1  alyaa     ezz     alyaaezz@gmail.com
2  manar  hamada  manarhamada@gmail.com

In [4]:
df.set_index('email')

                       first    last
email
hodamawood@gmail.com    hoda  mawood
alyaaezz@gmail.com     alyaa     ezz
manarhamada@gmail.com  manar  hamada

In [5]:
df

   first    last                  email
0   hoda  mawood   hodamawood@gmail.com
1  alyaa     ezz     alyaaezz@gmail.com
2  manar  hamada  manarhamada@gmail.com

In [6]:
df.set_index('email',inplace=True)

In [7]:
df

                       first    last
email
hodamawood@gmail.com    hoda  mawood
alyaaezz@gmail.com     alyaa     ezz
manarhamada@gmail.com  manar  hamada

In [8]:
df.loc['alyaaezz@gmail.com']

first    alyaa
last       ezz
Name: alyaaezz@gmail.com, dtype: object

In [9]:
df.loc['alyaaezz@gmail.com','first']

'alyaa'

In [12]:
df.iloc[1]

first    alyaa
last       ezz
Name: alyaaezz@gmail.com, dtype: object

In [13]:
df.reset_index()

                   email  first    last
0   hodamawood@gmail.com   hoda  mawood
1     alyaaezz@gmail.com  alyaa     ezz
2  manarhamada@gmail.com  manar  hamada

In [14]:
df

                       first    last
email
hodamawood@gmail.com    hoda  mawood
alyaaezz@gmail.com     alyaa     ezz
manarhamada@gmail.com  manar  hamada

In [15]:
df.reset_index(inplace=True)

In [16]:
df

                   email  first    last
0   hodamawood@gmail.com   hoda  mawood
1     alyaaezz@gmail.com  alyaa     ezz
2  manarhamada@gmail.com  manar  hamada

In [19]:
df=pd.read_csv('survey_results_public.csv',index_col='ResponseId')
df

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,NaN,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Other;Codecademy;edX,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,Codecademy;Coursera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,Codecademy;Pluralsight;Coursera,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [20]:
schema_df=pd.read_csv('survey_results_schema.csv',index_col='qname')
schema_df

,qid,question,force_resp,type,selector
qname,,,,,
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
Q310,QID310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
Q120,QID312,,True,MC,SAVR
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
...,...,...,...,...,...
Knowledge_7,QID289,Waiting on answers to questions often causes i...,NaN,MC,MAVR
Knowledge_8,QID289,I feel like I have the tools and/or resources ...,NaN,MC,MAVR
Frequency_1,QID290,Needing help from people outside of your immed...,NaN,MC,MAVR
Frequency_2,QID290,Interacting with people outside of your immedi...,NaN,MC,MAVR
Frequency_3,QID290,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR

In [21]:
schema_df.loc['MetaInfo']

qid                       QID12
question      Browser Meta Info
force_resp                False
type                       Meta
selector                Browser
Name: MetaInfo, dtype: object

In [25]:
schema_df.loc['MetaInfo','question':'selector']

question      Browser Meta Info
force_resp                False
type                       Meta
selector                Browser
Name: MetaInfo, dtype: object

In [26]:
schema_df.loc['MetaInfo',['question','selector']]

question    Browser Meta Info
selector              Browser
Name: MetaInfo, dtype: object

In [27]:
schema_df.sort_index()

,qid,question,force_resp,type,selector
qname,,,,,
AIAcc,QID324,For the AI tools you use as part of your devel...,False,MC,MAVR
AIBen,QID316,How much do you trust the accuracy of the outp...,False,MC,SAVR
AIDev,QID328,Which <b>AI-powered developer tools</b> did yo...,False,Matrix,Likert
AINext,QID320,Thinking about how your workflow and process c...,False,Matrix,Likert
AIOpen,QID321,Please describe how you would expect your work...,False,TE,SL
...,...,...,...,...,...
ToolsTech,QID275,Which <b>developer </b><strong>tools for compi...,False,Matrix,Likert
Webframe,QID264,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
WorkExp,QID288,How many years of working experience do you have?,False,Slider,HSLIDER
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL

In [30]:
schema_df

,qid,question,force_resp,type,selector
qname,,,,,
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
Q310,QID310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
Q120,QID312,,True,MC,SAVR
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
...,...,...,...,...,...
Knowledge_7,QID289,Waiting on answers to questions often causes i...,NaN,MC,MAVR
Knowledge_8,QID289,I feel like I have the tools and/or resources ...,NaN,MC,MAVR
Frequency_1,QID290,Needing help from people outside of your immed...,NaN,MC,MAVR
Frequency_2,QID290,Interacting with people outside of your immedi...,NaN,MC,MAVR
Frequency_3,QID290,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR

In [34]:
schema_df.sort_index(inplace=True)
schema_df

,qid,question,force_resp,type,selector
qname,,,,,
AIAcc,QID324,For the AI tools you use as part of your devel...,False,MC,MAVR
AIBen,QID316,How much do you trust the accuracy of the outp...,False,MC,SAVR
AIDev,QID328,Which <b>AI-powered developer tools</b> did yo...,False,Matrix,Likert
AINext,QID320,Thinking about how your workflow and process c...,False,Matrix,Likert
AIOpen,QID321,Please describe how you would expect your work...,False,TE,SL
...,...,...,...,...,...
ToolsTech,QID275,Which <b>developer </b><strong>tools for compi...,False,Matrix,Likert
Webframe,QID264,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
WorkExp,QID288,How many years of working experience do you have?,False,Slider,HSLIDER
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL

In [35]:
schema_df.sort_index(ascending=True)

,qid,question,force_resp,type,selector
qname,,,,,
AIAcc,QID324,For the AI tools you use as part of your devel...,False,MC,MAVR
AIBen,QID316,How much do you trust the accuracy of the outp...,False,MC,SAVR
AIDev,QID328,Which <b>AI-powered developer tools</b> did yo...,False,Matrix,Likert
AINext,QID320,Thinking about how your workflow and process c...,False,Matrix,Likert
AIOpen,QID321,Please describe how you would expect your work...,False,TE,SL
...,...,...,...,...,...
ToolsTech,QID275,Which <b>developer </b><strong>tools for compi...,False,Matrix,Likert
Webframe,QID264,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
WorkExp,QID288,How many years of working experience do you have?,False,Slider,HSLIDER
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL

In [40]:
schema_df.sort_index(ascending=False)

,qid,question,force_resp,type,selector
qname,,,,,
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
WorkExp,QID288,How many years of working experience do you have?,False,Slider,HSLIDER
Webframe,QID264,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
ToolsTech,QID275,Which <b>developer </b><strong>tools for compi...,False,Matrix,Likert
...,...,...,...,...,...
AIOpen,QID321,Please describe how you would expect your work...,False,TE,SL
AINext,QID320,Thinking about how your workflow and process c...,False,Matrix,Likert
AIDev,QID328,Which <b>AI-powered developer tools</b> did yo...,False,Matrix,Likert
AIBen,QID316,How much do you trust the accuracy of the outp...,False,MC,SAVR
AIAcc,QID324,For the AI tools you use as part of your devel...,False,MC,MAVR

In [42]:
schema_df.reset_index(inplace=True)

In [43]:
schema_df

,qname,qid,question,force_resp,type,selector
0,AIAcc,QID324,For the AI tools you use as part of your devel...,False,MC,MAVR
1,AIBen,QID316,How much do you trust the accuracy of the outp...,False,MC,SAVR
2,AIDev,QID328,Which <b>AI-powered developer tools</b> did yo...,False,Matrix,Likert
3,AINext,QID320,Thinking about how your workflow and process c...,False,Matrix,Likert
4,AIOpen,QID321,Please describe how you would expect your work...,False,TE,SL
...,...,...,...,...,...,...
73,ToolsTech,QID275,Which <b>developer </b><strong>tools for compi...,False,Matrix,Likert
74,Webframe,QID264,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
75,WorkExp,QID288,How many years of working experience do you have?,False,Slider,HSLIDER
76,YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
77,YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL

In [1]:
import pandas as pd
people={
    "first":['hoda','alyaa','manar'],
    "last":['mawood','ezz','hamada'],
    "email":['hodamawood@gmail.com','alyaaezz@gmail.com','manarhamada@gmail.com']
}
df=pd.DataFrame(people)

In [2]:
df

   first    last                  email
0   hoda  mawood   hodamawood@gmail.com
1  alyaa     ezz     alyaaezz@gmail.com
2  manar  hamada  manarhamada@gmail.com

In [3]:
df[['last','email']]

     last                  email
0  mawood   hodamawood@gmail.com
1     ezz     alyaaezz@gmail.com
2  hamada  manarhamada@gmail.com

In [4]:
df.loc[0]

first                    hoda
last                   mawood
email    hodamawood@gmail.com
Name: 0, dtype: object

In [9]:
df.loc[[0,1,2],'last']

0    mawood
1       ezz
2    hamada
Name: last, dtype: object

In [11]:
df.iloc[0]

first                    hoda
last                   mawood
email    hodamawood@gmail.com
Name: 0, dtype: object

In [13]:
df['last']=='hamada'

0    False
1    False
2     True
Name: last, dtype: bool

In [14]:
filt=df['last']=='hamada'
df[filt]

   first    last                  email
2  manar  hamada  manarhamada@gmail.com

In [15]:
df.loc[filt]

   first    last                  email
2  manar  hamada  manarhamada@gmail.com

In [16]:
df.loc[filt,'email']

2    manarhamada@gmail.com
Name: email, dtype: object

In [19]:
filt=(df['last']=='ezz')&(df['first']=='alyaa')
df[filt]

   first last               email
1  alyaa  ezz  alyaaezz@gmail.com

In [20]:
filt=(df['last']=='mawood')|(df['first']=='alyaa')
df[filt]

   first    last                 email
0   hoda  mawood  hodamawood@gmail.com
1  alyaa     ezz    alyaaezz@gmail.com

In [21]:
df.loc[~filt]

   first    last                  email
2  manar  hamada  manarhamada@gmail.com

In [24]:
df=pd.read_csv("survey_results_public.csv")
df

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89179,89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89180,89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89181,89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89182,89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89183,89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [28]:
high_salary=(df['ConvertedCompYearly']>60000)
df.loc[high_salary,['Age','Employment','ConvertedCompYearly']]

                   Age           Employment  ConvertedCompYearly
1      25-34 years old  Employed, full-time             285000.0
2      45-54 years old  Employed, full-time             250000.0
3      25-34 years old  Employed, full-time             156000.0
5      35-44 years old  Employed, full-time              96828.0
6      35-44 years old  Employed, full-time             135000.0
...                ...                  ...                  ...
89155  25-34 years old  Employed, full-time              63199.0
89156  25-34 years old  Employed, full-time             195000.0
89157  25-34 years old  Employed, full-time             319711.0
89170  25-34 years old  Employed, full-time              64254.0
89171  25-34 years old  Employed, full-time              61041.0

[29605 rows x 3 columns]

In [37]:
SurveyLengths=['Appropriate in length']
filt=df['SurveyLength'].isin(SurveyLengths)
df.loc[filt,['SurveyLength','Employment','ConvertedCompYearly']]

,SurveyLength,Employment,ConvertedCompYearly
1,Appropriate in length,"Employed, full-time",285000.0
2,Appropriate in length,"Employed, full-time",250000.0
3,Appropriate in length,"Employed, full-time",156000.0
4,Appropriate in length,"Employed, full-time;Independent contractor, fr...",23456.0
5,Appropriate in length,"Employed, full-time",96828.0
...,...,...,...
89172,Appropriate in length,"Employed, full-time",NaN
89175,Appropriate in length,"Employed, full-time",NaN
89178,Appropriate in length,"Employed, full-time",NaN
89182,Appropriate in length,"Employed, part-time;Student, part-time",NaN
89183,Appropriate in length,"Employed, full-time",NaN

In [46]:
filt=df['LearnCode'].str.contains('Books',na=False)
df.loc[filt,['ResponseId','LearnCode']]

       ResponseId                                          LearnCode
1               2  Books / Physical media;Colleague;Friend or fam...
2               3  Books / Physical media;Colleague;On the job tr...
4               5  Books / Physical media;Online Courses or Certi...
5               6  Books / Physical media;Colleague;Online Course...
7               8  Books / Physical media;Online Courses or Certi...
...           ...                                                ...
89161       89162  Books / Physical media;Other online resources ...
89166       89167  Books / Physical media;Hackathons (virtual or ...
89172       89173  Books / Physical media;School (i.e., Universit...
89177       89178  Books / Physical media;Other online resources ...
89181       89182  Books / Physical media;Hackathons (virtual or ...

[45406 rows x 2 columns]

In [1]:
import pandas as pd
people={
    "first":['hoda','alyaa','manar'],
    "last":['mawood','ezz','hamada'],
    "email":['hodamawood@gmail.com','alyaaezz@gmail.com','manarhamada@gmail.com']
}
df=pd.DataFrame(people)

In [2]:
df

   first    last                  email
0   hoda  mawood   hodamawood@gmail.com
1  alyaa     ezz     alyaaezz@gmail.com
2  manar  hamada  manarhamada@gmail.com

In [3]:
df.columns=['First_Name','Last_Name','Email']

In [6]:
df

  First_Name Last_Name                  Email
0       hoda    mawood   hodamawood@gmail.com
1      alyaa       ezz     alyaaezz@gmail.com
2      manar    hamada  manarhamada@gmail.com

In [7]:
df.columns=[x.upper() for x in df.columns]

In [8]:
df

  FIRST_NAME LAST_NAME                  EMAIL
0       hoda    mawood   hodamawood@gmail.com
1      alyaa       ezz     alyaaezz@gmail.com
2      manar    hamada  manarhamada@gmail.com

In [9]:
df.columns=[x.lower() for x in df.columns]

In [10]:
df

  first_name last_name                  email
0       hoda    mawood   hodamawood@gmail.com
1      alyaa       ezz     alyaaezz@gmail.com
2      manar    hamada  manarhamada@gmail.com

In [11]:
df.columns=df.columns.str.replace('_',' ')

In [12]:
df

  first name last name                  email
0       hoda    mawood   hodamawood@gmail.com
1      alyaa       ezz     alyaaezz@gmail.com
2      manar    hamada  manarhamada@gmail.com

In [14]:
df.columns=df.columns.str.replace(' ','_')

In [15]:
df

  first_name last_name                  email
0       hoda    mawood   hodamawood@gmail.com
1      alyaa       ezz     alyaaezz@gmail.com
2      manar    hamada  manarhamada@gmail.com

In [16]:
df.rename(columns={'email':'gmail'})

  first_name last_name                  gmail
0       hoda    mawood   hodamawood@gmail.com
1      alyaa       ezz     alyaaezz@gmail.com
2      manar    hamada  manarhamada@gmail.com

In [17]:
df

  first_name last_name                  email
0       hoda    mawood   hodamawood@gmail.com
1      alyaa       ezz     alyaaezz@gmail.com
2      manar    hamada  manarhamada@gmail.com

In [19]:
df.rename(columns={'email':'gmail'},inplace=True)

In [20]:
df

  first_name last_name                  gmail
0       hoda    mawood   hodamawood@gmail.com
1      alyaa       ezz     alyaaezz@gmail.com
2      manar    hamada  manarhamada@gmail.com

In [21]:
df

  first_name last_name                  gmail
0       hoda    mawood   hodamawood@gmail.com
1      alyaa       ezz     alyaaezz@gmail.com
2      manar    hamada  manarhamada@gmail.com

In [44]:
import pandas as pd
people={
    "first":['hoda','alyaa','manar'],
    "last":['mawood','ezz','hamada'],
    "email":['hodamawood@gmail.com','alyaaezz@gmail.com','manarhamada@gmail.com']
}
df=pd.DataFrame(people)

In [45]:
df

   first    last                  email
0   hoda  mawood   hodamawood@gmail.com
1  alyaa     ezz     alyaaezz@gmail.com
2  manar  hamada  manarhamada@gmail.com

In [46]:
df.loc[0,['first']]=['hadoosh']

In [47]:
df

     first    last                  email
0  hadoosh  mawood   hodamawood@gmail.com
1    alyaa     ezz     alyaaezz@gmail.com
2    manar  hamada  manarhamada@gmail.com

In [1]:
import pandas as pd
people={
    "first":['hoda','alyaa','manar'],
    "last":['mawood','ezz','hamada'],
    "email":['hodamawood@gmail.com','alyaaezz@gmail.com','manarhamada@gmail.com']
}
df=pd.DataFrame(people)

In [2]:
df

   first    last                  email
0   hoda  mawood   hodamawood@gmail.com
1  alyaa     ezz     alyaaezz@gmail.com
2  manar  hamada  manarhamada@gmail.com

In [3]:
filt=(df['email']=='hodamawood@gmail.com')
df.loc[filt,'last']='maoud'

In [4]:
df

   first    last                  email
0   hoda   maoud   hodamawood@gmail.com
1  alyaa     ezz     alyaaezz@gmail.com
2  manar  hamada  manarhamada@gmail.com

In [5]:
df['email'].str.lower()

0     hodamawood@gmail.com
1       alyaaezz@gmail.com
2    manarhamada@gmail.com
Name: email, dtype: object

In [12]:
df['email']=df['email'].str.upper()

In [15]:
df=pd.DataFrame(people)

In [16]:
df

   first    last                  email
0   hoda  mawood   hodamawood@gmail.com
1  alyaa     ezz     alyaaezz@gmail.com
2  manar  hamada  manarhamada@gmail.com

In [17]:
df['email']=df['email'].str.upper()

In [18]:
df

   first    last                  email
0   hoda  mawood   HODAMAWOOD@GMAIL.COM
1  alyaa     ezz     ALYAAEZZ@GMAIL.COM
2  manar  hamada  MANARHAMADA@GMAIL.COM

In [19]:
df['email'].apply(len)

0    20
1    18
2    21
Name: email, dtype: int64

In [22]:
def updata_last(last):
    return last.upper()
df['last']=df['last'].apply(updata_last)

In [23]:
df

   first    last                  email
0   hoda  MAWOOD   HODAMAWOOD@GMAIL.COM
1  alyaa     EZZ     ALYAAEZZ@GMAIL.COM
2  manar  HAMADA  MANARHAMADA@GMAIL.COM

In [24]:
df['last']=df['last'].apply(lambda x: x.lower())

In [25]:
df

   first    last                  email
0   hoda  mawood   HODAMAWOOD@GMAIL.COM
1  alyaa     ezz     ALYAAEZZ@GMAIL.COM
2  manar  hamada  MANARHAMADA@GMAIL.COM

In [26]:
len(df['first'])

3

In [27]:
df.apply(len,axis='columns')

0    3
1    3
2    3
dtype: int64

In [28]:
df.apply(len,axis='rows')

first    3
last     3
email    3
dtype: int64

In [31]:
df.apply(lambda x: x.min())

first                 alyaa
last                    ezz
email    ALYAAEZZ@GMAIL.COM
dtype: object

In [32]:
df.applymap(len)

   first  last  email
0      4     6     20
1      5     3     18
2      5     6     21

In [34]:
df.applymap(str.lower)

   first    last                  email
0   hoda  mawood   hodamawood@gmail.com
1  alyaa     ezz     alyaaezz@gmail.com
2  manar  hamada  manarhamada@gmail.com

In [35]:
df['first'].map({'hoda':'hadoosh','alyaa':'lolo'})

0    hadoosh
1       lolo
2        NaN
Name: first, dtype: object

In [36]:
df['first'].replace({'hoda':'hadoosh','alyaa':'lolo'})

0    hadoosh
1       lolo
2      manar
Name: first, dtype: object

In [38]:
df=pd.read_csv("survey_results_public.csv")

In [39]:
df

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89179,89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89180,89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89181,89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89182,89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89183,89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [40]:
df.rename(columns={'ConvertedCompYearly':'salary'})

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,salary
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89179,89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89180,89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89181,89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89182,89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89183,89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN